/* imported fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Quicksand:wght@300&display=swap');

/* General styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
}

h1, h2, h3 {
    font-family: "Quicksand", sans-serif;
}


/* Header */

header {
    background-color: #fff;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-basis: 10px;
    border-bottom: solid;
}

#logo {
    height: 100%;
    width: 55px;
    position: absolute;
}

#title {
    margin-left: 55px;
    font-family: 'Quicksand', sans-serif;
}

/* Physioterapy backgorund that covers the header and part of the main */

#physio-background {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 270px;
}
/* Nav Bar button */

#nav-toggle {
    display: none;
}


#nav-button {
    cursor: pointer;
    padding: 10px;
    align-self: flex-end;
}

#nav-bar {
    position: absolute;
    display: none;
    padding: 10px;
    padding-top: 0 1rem;
    width: 100%;
    margin-top: 38px;
    background-color: #fff;
    border-bottom: solid;
}

#nav-bar a {
    text-decoration: none;
    color: inherit;
}

#nav-toggle:checked + #nav-bar {
    display: block;
}
/* Main */

main {
    flex: 1 0 auto; 
    margin-top: 38px;
}

/* Introduction section */

#introduction {
    text-align: center;
    background-image: url("../Images/manual-therapy.webp") ;
    background-size: 100% 400px;
    height: 400px;
    background-repeat: no-repeat;
    display: flex;
}

#description {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 84px;
    margin-bottom: 80px;
    color: #fff;
    background-color: rgb(31, 196, 163, 0.75);
    align-self: center;
}

#description h3 {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

#description hr {
    padding-left: 10px;
}

/* Injuries */

.fa-check {
    color: #57a742;
}

#injuries {
    list-style: none;
}

#injuries-title {
    margin: 10px;
}

#injuries li {
    margin-bottom: 5px;
    margin-left: 8px;
}

/* Pain section */

#pain {
    margin-top: 25px;
    margin-bottom: 10px;
}

#pain-description {
    color: black;   
    padding: 5px 5px;
    text-align: center;
}

#pain p {
    margin-top: 5px;
    color: black; 
}

#back-pain {
    margin-top: 15px;
    width: 100%;
    height: 250px;
}

/* Therapeutic exercise section */

#exercise {
    margin-top: 10px;
}


#therapeutic-exercise-description {
    text-align: center;
    margin-bottom: 10px;
    border-radius: 10%;
    padding: 5px 5px;
}

#texercise-image {
    margin-top: 15px;
    width: 100%;
    height: 250px;
}

/* Services and pricing */

#services-pricing {
    margin-top: 20px;
}

#services-pricing hr {
    border-top: 3px solid rgb(173, 25, 25);
}

#diagnostic {
    text-align: center;
}

#manual-therapy {
    text-align: center;
}

#therapeutic-exercise {
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}


#services-pricing   div  h3 {
    border-bottom: red;
}

/* Table styling */

#therapeutic-exercise-prices {
    margin-bottom: 10px;
    border-collapse: collapse;
    text-align: center;
}

td, th {
    border: solid
}

#physio {
    width: 100%;
    height: 200px;
    margin-bottom: 0;
}

/* Booking */

#main-booking {
    margin-top: 20px;
    background: url("../Images/booking-background.webp") no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



#booking-form {
    padding: 50px 20px;
    background-color: rgb(60, 60, 60, 0.5);
    color: #fff;
    margin: 5px 17px;
    display: flex;
    flex-direction: column;
}

.inputs {
    margin-bottom: 7px;
    height: 25px;
}

#type-of-appointment {
    display: flex;
    flex-direction: column;
    margin-bottom: 7px;
}

.radio-input {
    margin-top: 10px;
}

#patient-description {
    width: 100%;
    padding: 10px;
    margin-right: 5%;
}

#submit {
    background-color:black;
    color: #f1e5e5;
    box-shadow: inset 0 0 10px #f8f8f8;
    height: 40px;
    width: 200px;
    border-radius: 5px;
}

/* Footer */



footer h3 {
    color:black;
    text-align: center;
    font-size: small;
}

footer li {
    color: black;
    font-size: xx-small;
}

footer li a {
    color: black;
    font-size: medium;
}

footer ul {
    margin: 5px 5px;
}

#contact ul {
    list-style: none;
}

#time {
    
    list-style: none;
}

#time-list {
    display: flex;
}

#time ul {
    list-style: none;
}

#social-media-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#time-list {
    justify-content: space-evenly;
}


/* Media query for tablets (768 and up) */

@media screen and (min-width: 768px) {
    /* Header */

    #nav-bar {
         display: block;
         position: relative;
         box-shadow: none;
         width: fit-content;
         padding-right: 1rem;
         border-bottom: none;
         margin-top: 0px;
    }

    #nav-button {
        display: none;
    }

    #menu {
        display: flex;
        list-style: none;
    }
    
    #menu > li {
        padding-left: 1rem;
    }

    /* Home: Main section */

    #description {
        padding: 60px;
    }

    /* Injury section */

    #injury {
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
    }

    #injuries {
        display: flex;
    }

    /* Pain section */

    #pain {
        display: flex;
    }

    #pain-description {
        flex-shrink: 1.6;
        align-self: center;
        padding: 23.75px;
    }

    #back-pain {
        flex-shrink: 1;
        height: 275px;
    }

    /* Therapeutic exercise */

    #exercise {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        margin-bottom: 10px;
    }

    #texercise-image {
        margin-top: 0px;
    }

    /* Services and Prices: main section */

    #diagnostic {
        margin-top: 20px;
        text-align: center;
    }

    #manual-therapy {
        margin-top: 20px;
    }

    #therapeutic-exercise-prices {
        margin: 0px 100px;
    }

    #physio {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        height: 500px;
    }

    /* Booking: main section */

    .inputs {
        width: 60%;;
    }

    #booking {
        width: 500px;
    }

    
    #type-of-appointment {
        justify-content: space-between;
        flex-direction: row;
    }

    /* Footer */

    footer {
        margin-top: 10px;
    }

    li {
        margin-right: 5px;
    }

    #contact-time {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    #time-list {
        display: flex;
        justify-content: space-around;
    }

    footer h3 {
        text-align: center;
        font-size: medium;
    }
    
    footer li {
        font-size: small;
    }
    
    footer li a {
        font-size: x-large;
    }

}

/* Mediaquery for devices whider than 1200px */

@media screen and (min-width: 1200px) {
    /* Header */
    
    header {
        justify-content: space-around;
    }

    #name {
        margin-right: 40vw;
    }

    /* Home: main */

    /* Injuty section */

    .list-injuries {
        margin-right: 10vw;
    }
    
    #injuries-title {
        margin-left: 5vw;
        margin-right: 7vw;
    }

    /* Introduction section */
    main {
        margin-left: 5%;
        margin-right: 5%;
    }

    /*Pain section */
    #pain { 
        justify-content: space-around;
    }

    #pain-description {
        flex-shrink: 1;
        border-radius: 20%;
        margin-left: 10px;
        margin-right: 10px;
    }

    #back-pain {
        flex-shrink: 1;
        height: 400px;
    }

    /*Therapeutic exercise section */

    #exercise {
        margin-top: 20px;
        margin-bottom: 30px;
    }

    #therapeutic-exercise-description {
        align-self: center;
        border-radius: 20%;
        margin-left: 10px;
        margin-right: 10px;
        padding: 20px;
    }

    #texercise-image {
        height: 350px;
    }

    /* Services and pricing: main */

    #services-pricing {
        margin-top: 50px;
    }

    #diagnostic {
        margin-bottom: 50px;
    }
    
    #manual-therapy {
        margin-bottom: 50px;
    }

    #therapeutic-exercise-prices {
        margin-bottom: 50px;
    }

    #therapeutic-exercise-prices {
        margin-top: 30px;
    }

    #physio {
        margin-top: 20px;
    }


    /* Booking */


    
    /* Footer */

    li {
        margin-right: 10px;
    }

    
    
    
    footer ul {
        margin: 5px 5px;
    }
   
}

/* Madiaquery for devices whider than 1448px */

@media screen and (min-width: 1448px) {
    /* Home: main */

    /* Introduction section */

    #description {
        margin-left: 20vw;
        margin-right: 20vw;
    }

    /* Pain section */

    #back-pain {
        height: 450px;
        margin-left: 50px;
        margin-right: 50px;
    }

}