/* imported fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Quicksand:wght@300&display=swap');

/* General styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
}

h2, h3 {
    font-family: "Nunito", sans-serif;
}

hr {
    border-top: 3px solid rgb(173, 25, 25);
}
/* Header */

header {
    background-color: #fff;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-basis: 10px;
    border-bottom: solid;
}

#logo {
    height: 100%;
    width: 45px;
    position: absolute;
}

header > h1 {
    margin-left: 45px;
    font-family: 'Quicksand', sans-serif;
    
}

/* Physioterapy backgorund that covers the header and part of the main */

#physio-background {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 270px;
}
/* Nav Bar button */

#nav-toggle {
    display: none;
}

#nav-button {
    cursor: pointer;
    padding: 10px;
    align-self: flex-end;
}

#nav-bar {
    position: absolute;
    display: none;
    padding: 10px;
    padding-top: 0 1rem;
    width: 100%;
    margin-top: 38px;
    background-color: #fff;
    border-bottom: solid;
}

#nav-bar a {
    text-decoration: none;
    color: inherit;
}

#nav-toggle:checked + #nav-bar {
    display: block;
}
/* Main */

main {
    flex: 1 0 auto; 
    margin-top: 38px;
}

/* Introduction section */

#introduction {
    text-align: center;
    background-image: url("../Images/manual-therapy.webp") ;
    background-size: 100% 400px;
    height: 400px;
    background-repeat: no-repeat;
    display: flex;
}

#description {
    position: absolute;
    top: 200px;
    color: #fff;
}

/* Services and pricing */

#manual-therapy {
    text-align: center;
}

#therapeutic-exercise {
    text-align: end;
}

#services-pricing   div  h3 {
    border-bottom: red;
}

/* Table styling */

#therapeutic-exercise-prices {
    border-collapse: collapse;
}

td, th {
    border: solid
}

/* Footer */

footer {
    background-color: brown;
}