/* General styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */

header {
    background-color: springgreen;
    display: flex;
}

/* Nav Bar button */

#nav-toggle {
    display: none;
}

#nav-button {
    cursor: pointer;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
}

#nav-bar {
    display: none;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

#nav-toggle:checked + #nav-bar {
    display: block;
}
/* Main */

main {
    background-color: blueviolet;
    flex: 1 0 auto; 
}

/* Footer */

footer {
    background-color: brown;
}